*{
    margin:0;
    padding:0;
}
body{
    background-color: #C0C0C0;
    overflow: hidden;
}
.gora{
    font-size: 40px;
    height:120px;
    color:#bae2f0;
    background-color:#73acbe;
    text-align: center;
}
.lewo{
    padding:10px;
    float:left;
    color:#FFC0CB;
    height:815px;
    width:500px;
    background-color: #9370DB;
}

.lewo p{
    color:#FF69B4;
    font-size: 33px;
}

.lewo ul li{
    font-size:23px ;
    padding:10px;
    margin-left: 40px;
}


.snowflake {
    position: absolute;
    width: 80px; /* Dostosuj rozmiar */
    height: 80px; /* Dostosuj rozmiar */
    background: radial-gradient(circle, snow 40%, transparent 100%); /* Gradient dla efektu zanikających boków */
    border-radius: 50%; /* Zaokrągl brzegi dla efektu kółka */
  }

  .snieg {
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.prawo{
}

p{
    color:#6A5ACD;
    font-size: 33px;
    text-align: center;
}

#counter{
    color:rgb(141, 243, 250);
    font-size: 40px;
}